<!DOCTYPE html>
<html ng-app="assetMgt" lang="ko">
<head>
    <base href="/" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge" />

    <title>자산 관리</title>

    <link rel="stylesheet" type="text/css" href="/static/icons/font-awesome/css/font-awesome.min.css" />
</head>
<body ng-controller="GlobalCtrl as global">
    <ui-view></ui-view>

    <script type="text/javascript" src="/static/libs/jquery-3.1.1.min.js"></script>
</body>
</html>
